server {
  listen __PORT__;
  server_name _;
  root /usr/share/nginx/html;
  index index.html;

  location = /runtime-config.js {
    alias /tmp/runtime-config.js;
    default_type application/javascript;
  }

  resolver 127.0.0.11 8.8.8.8 valid=30s ipv6=off;
  resolver_timeout 5s;

  include /tmp/api-proxy.locations;

  location / {
    try_files $uri $uri/ /index.html;
    access_log off;
  }
}